
<!DOCTYPE html>

    <head>
        <title>Just one word</title>
        <meta charset="UTF-8">
        {% load staticfiles %}
        <link href="{% static 'jow/css/style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'jow/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <style>
            {% block additional_style %}
            {% endblock %}
        </style>
    </head>

    <body>
        <section>
            {% block content %}
            {% endblock %}
        </section>

        <footer>
            <div id="to-home"><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span></a></div>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>

</html>
