@font-face {
    font-family: mainFont;
    src: url(../fonts/font.woff2);
}

body {
    font-family: mainFont;
}

#word {
    font-size: 10em;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    margin-top: 200px;
}

section {
    width: 100%;
    text-align: center;
    padding-top: 70px;
}

h1 {
    font-size: 5em;
}

#one-word-form > p {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    text-align: left;
}

#one-word-form > p > label {
    display: inline-block;
    width: 40%;
    text-align: right;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 0px 0px;
    padding: 10px;
}

#one-word-form > p > input {
    display: inline-block;
    width: 30%;
    text-align: left;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 1px 0px;
    outline: none;
    margin: 10px;
    padding: 5px;
    color: black;
}

#one-word-form > input[type=submit] {
    margin-top: 20px;
    width: 50%;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    outline: none;
    background-color: white;
}

#one-word-form > input[type=submit]:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

footer {
    position: absolute;
    height: 50px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    font-size: 1.5em;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

#to-home {
    float: left;
}
